<%= form_with model: @food, local: true do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.file_field :image, accept:"image/jpg, image/jpeg, image/gif, image/png" %>
  </p>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </p>
  <%= f.submit "送信" %>
<% end %>